<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %} SaaS {% endblock head_title %}</title>
    {% include 'base/css.html' %}
  </head>
  <body>
    <header style="position: sticky; top: 0; z-index: 100;">
      <!-- {% if request.user.is_authenticated %} -->
      
      <!-- {% endif %} -->
      {% include 'nav/navbar.html' %}
    </header>
    {% include 'base/messages.html' with messages=messages%}
    <h1>{{ page_title }}</h1>

    {% block content %}
      Placeholder
    {% endblock content %}

    {% include 'base/js.html' %}
  </body>
</html>