{% extends 'base.html' %}

{% block head_title %} Users - {{ block.super }} {% endblock head_title %}

{% block content %}

  {% include 'snippets/welcome-user-msg.html' %}
  <h1 class="text-lg font-medium">List os users</h1>

  {% if perms.auth %}
    {% if perms.auth.view_user %}
      <div>
        {% for instance in object_list %}
          <li>
            <a href="/profiles/{{ instance.username }}">{{ instance.username }}</a>
          </li>
        {% endfor %}
      </div>
    {% endif %}
  {% else %}
    <div>
      You are not allowed to see the users
    </div>
  {% endif %}
{% endblock content %}