<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Make a booking</h2>
        <form method="post" action="{% url 'booking-success' %}">
            {% csrf_token %}
            <div class="grid gap-4 sm:grid-cols-1 sm:gap-6">
                <div>
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>

                <div>
                    {{ form.phone.label_tag }}
                    {{ form.phone }}
                </div>

                <div>
                    {{ form.banya.label_tag }}
                    {{ form.banya }}
                </div>
                
                <div>
                    {{ form.num_guests.label_tag }}
                    {{ form.num_guests }}
                </div>

                <div>
                    {{ form.date.label_tag }}
                    {{ form.date }}
                </div>
                
                <div>
                    {{ form.comment.label_tag }}
                    {{ form.comment }}
                </div>
            </div>
            <div style="text-align: center;">
                <button 
                    type="submit"
                    style="
                        align-items: center;
                        height: 5vmax; font-size: 1.5vmax;
                        color: black; 
                        margin-top: 20px;
                        border: 1px solid grey; box-shadow: 0px 1px 5px black;
                        "
                    onmouseover="this.style.boxShadow='0px 2px 5px black';" 
                    onmouseout="this.style.boxShadow='0px 1px 5px black';"
                    type="button" class="w-full text-white font-bold py-2 px-4 rounded-full">
                Book
                </button>
            </div>
        </form>
    </div>
</section>
