<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Make a booking</h2>
        <form method="post" action="{% url 'booking-success' %}">
            {% csrf_token %}
            <div class="grid gap-4 sm:grid-cols-1 sm:gap-6">
                <div>
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>

                <div>
                    {{ form.phone.label_tag }}
                    {{ form.phone }}
                </div>
                
                <div>
                    {{ form.num_guests.label_tag }}
                    {{ form.num_guests }}
                </div>

                <div>
                    {{ form.date.label_tag }}
                    {{ form.date }}
                </div>
                
                <div>
                    {{ form.comment.label_tag }}
                    {{ form.comment }}
                </div>
            </div>
            <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                Book
            </button>
        </form>
    </div>
</section>
